.footer {
  width: 100%;
  background: #656E7A;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 48px;

  @include sm2down {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-logo {
    height: 32px;
    width: auto;
  }

  .text1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 94px;
    margin-left: 30px;
    margin-bottom: 10px;

    @include lg2down {
      font-size: 16px;
      margin-top: 58px;
    }

    @include sm2down {
      margin-top: 20px;
    }

    strong {
      color: #ff9a00;
    }
  }

  h4 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.15px;
  }

  .text2 {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #ffffff;
    margin: 0;

    @include lg2down {
      font-size: 14px;
    }

    a {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      white-space: nowrap;

      &:hover {
        color: $yellow;
      }
    }
  }

  .info-block {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;

    i {
      margin-right: 5px;
    }

    strong {
      font-weight: 500;
    }
  }
}

.social {
  li {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      width: 22px;
      height: 22px;
      font-size: 24px;
      color: #fff;
      text-align: center;

      i {
        position: relative;
        top: -1px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

.newletter-form {
  .txt {
    border: none;
    border-bottom: 1px solid rgba(#fff, 0.12);
    background: transparent;
    width: 100%;
    color: #fff;

    @include placeholder {
      color: #A1AAB6;
    }
  }

  input[type="submit"] {
    background: transparent;
    color: #fff;
    border-color: #fff;
  }
}

.footer-design {
  position: relative;
  color: #B0BFBC;
  z-index: 99;

  .black {
    color: #656E7A;
  }

  &.footer-design-tool {
    // margin-top: 242px;

    @include lg2up {
      // margin-top: 80px;
    }
  }

  .f-block-height {
    height: 64px;

    @include sm2down {
      height: 50px;
    }
  }

  label {
    color: #B0BFBC;
    font-size: 12px;
    font-weight: 300;
  }
}

.footer-design-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 1;
  // box-shadow: 0px -7px 8px rgba(0, 0, 0, 0.04);

  .text-welcome {
    height: 64px;
    display: flex;
    align-items: center;
    color: #656E7A;
    font-weight: bold;

    @include sm2down {
      height: 50px;
    }
  }

  .btn-next-step {
    height: 64px !important;

    @include lg2up {
      width: 180px !important;
      padding: 0 10px !important;
    }

    @include sm2down {
      height: 50px !important;
    }
  }

  .btn-next-step-checkout {
    height: 64px !important;

    @include lg2up {
      width: 180px !important;
      padding: 0 10px !important;
    }

    @include sm2down {
      height: 50px !important;
    }

    &.btn-next-cart {
      // min-width: 230px;
    }

    img {
      width: 33px;
      margin-right: 12px;
    }

    small {
      display: block;
      text-transform: none;
      text-align: left;
    }
  }

  .btn-back-to-home {
    // min-width: 220px;
  }
}

.border-bottom-mobile {
  @include md2down {
    border-bottom: 1px solid #dee2e6;
  }
}
