.logo {
  img {
    margin-top: 10px;
    height: 48px;
    width: auto;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #656E7A;
  height: 64px;

  &.no-border {
    border: none;
  }

}

#collapseMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #656E7A;
  z-index: 999;

  .btn-menu {
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .h-mobile-wrap {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .language-menu {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    color: rgba(#fff, 0.54);

    span,
    a {
      color: rgba(#fff, 0.54);

      &.active {
        color: rgba(#fff, 1);
      }
    }
  }
}

.h-menu {
  position: relative;

  >li {
    display: inline-block;
    position: relative;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0;
      opacity: 0;
      border-bottom: 4px solid $grey;
      transition: all ease 0.2s;
    }

    &.active,
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &.has-dropdown::before {
      content: '';
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.8);
      transition: all ease-out 0.1s;
      opacity: 0;
      visibility: hidden;

      @include lg2down {
        border-width: 10px;
        bottom: -2px;
      }
    }

    >a {
      padding: 0 12px;
    }

    a {
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #B0BFBC;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover,
    &.active {
      &::before {
        visibility: visible;
        opacity: 1;
      }

      a {
        color: #ffffff;
      }

      .h-menu-sub1 {
        opacity: 1;
        visibility: visible;
        transition: all ease-in 0.2s;
      }
    }
  }

  &.black {
    >li {
      >a {
        @include lg2up {
          color: $black;
        }
      }
    }
  }

  &.h-menu2 {
    margin-top: 20px;
  }

  &.h-mobile {
    li {
      display: block;

      a {
        padding: 5px 0;
        height: auto;

        >i {
          float: right;
          position: relative;
          top: 4px;
        }

        &[aria-expanded="true"] {
          >i {
            transform: rotate(180deg);
          }
        }
      }
    }

    .card {
      padding: 0;
      background: none;
      border: none;

      a {
        padding-left: 30px;
      }
    }
  }

  .h-menu-sub1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 0.1s;
    margin-top: 2px;

    li {
      display: block;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
      margin: 0 15px;

      a {
        display: block;
        padding: 5px 0;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.h-menu-sub2 {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 30px;
  margin-top: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.1s;

  @include md2down {
    display: none;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transition: all ease-in 0.2s;
  }

  .menu-thumb-block {
    padding-bottom: 58.77%;
    margin-bottom: 20px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.78);
      background-color: rgba(0, 0, 0, 0.5);
      transition: all ease-out 0.1s;
    }

    &:hover {
      .text {
        background-color: transparent;
        transition: all ease-in 0.2s;
      }
    }
  }

  .all-tours {
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -10px;
    line-height: 1.6;

    a {
      color: #fff;

      &:hover {
        color: $red;
      }
    }
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;

    >div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.menu-panel {
  background: #fff;
  margin-top: 0px;
  position: relative;
  min-height: 33px;

  @include md2down {
    max-width: 690px;
    margin: 0 auto;
  }

  @include sm2down {
    max-width: 510px;
  }

  .btn-menu {
    position: absolute;
    right: 5px;

    @include md2down {
      filter: brightness(0);
      margin-top: 3px;
    }
  }
}

.header2 {
  background-color: $red;
  height: 100px;
  padding-top: 40px;

  @include md2down {
    padding-top: 15px;
    height: 50px;
  }

  .link-back {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.search-box {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-left: 50px;

  @media (min-width: 1200px) and (max-width: 1919px) {
    margin-left: 30px;
    margin-top: 10px;
  }

  @include lg {
    margin-left: 0px;
    margin-top: 0;
  }

  @include md {
    margin-right: 15px;
  }

  .input-search {
    border: none;
    color: #fff;
    width: 352px;
    height: 62px;
    background-color: #343333;
    padding: 0 35px;
    font-size: 16px;
    font-weight: 500 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: 1.6px;
    text-align: left;
    color: #fdfcfb;

    @include placeholder {
      color: #fdfcfb;
    }

    @media (min-width: 1200px) and (max-width: 1919px) {
      height: 50px;
      padding: 0 20px;
      font-size: 14px;
      width: 290px;
    }

    @include lg {
      font-size: 14px;
      height: 40px;
      width: 280px;
      padding: 0 15px;
    }
  }

  &-banner {
    .input-search {
      @include placeholder {
        color: $black;
      }
    }

    .submit-search {
      z-index: 1;
    }
  }

  .input-search-wrap {
    position: relative;
    display: inline-block;

    .input-search {
      padding: 20px 20px 6px;
      transition: all ease 0.2s;

      &.focused {
        background: #fff !important;

        ~label.placeholder {
          color: $black;
          top: 12px;
          font-size: 10px;
        }
      }

      ~label.placeholder {
        /*text-transform: uppercase;*/
        transition: all ease 0.2s;
      }
    }

    label.placeholder {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: $black;
      font-weight: 300;
      font-size: 18px;
      pointer-events: none;
    }
  }

  .submit-search {
    background: transparent url(../img/icon-search.png) no-repeat center right;
    border: none;
    height: 62px;
    width: 30px;
    float: left;
    margin-right: 30px;

    @media (min-width: 1200px) and (max-width: 1919px) {
      height: 50px;
      margin-right: 15px;
      background-size: 25px;
    }

    @include lg {
      margin-right: 10px;
      background-size: 20px;
      height: 40px;
    }
  }

  &.black {
    .submit-search {
      @include lg2up {
        filter: brightness(0);
      }
    }
  }

  &.search-box-mobile {
    position: absolute;
    top: 0;
    margin: 0;
    display: block;
    left: 0px;
    right: 50px;
    padding-right: 30px;

    .input-search {
      width: 100%;
      height: 24px;
      margin-top: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.9);
      color: $black;
      border-radius: 10px;
      background-position: right 10px center;
      padding-left: 15px;
      padding-right: 15px;

      @include md2down {
        border: 1px solid $black;
        background-color: #fff;
        border-radius: 15px;
        height: 30px;
      }
    }

    .submit-search {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 5px;
      right: 0;
      background-size: 24px;
      margin-right: 0;

      @include md2down {
        filter: brightness(0);
        height: 30px;
        background-size: 20px;
      }
    }
  }

  &-anim {
    overflow: hidden;

    .submit-search {
      position: relative;
      z-index: 1;
      width: 40px;

      @media (min-width: 1920px) {
        width: 50px;
      }

      @include lg {
        width: 30px;
      }
    }

    .input-search-wrap {
      position: absolute;
      width: 440px;
      left: 0;
      transform: translateX(-20px);
      opacity: 0;
      transition: all ease 0.1s;

      @media (max-width: 1919px) {
        width: 345px;
      }

      @include lg {
        width: 320px;
      }

      .input-search {
        width: 100%;
        height: 60px;

        @media (min-width: 1920px) {
          padding-left: 60px;
        }

        @media (max-width: 1919px) {
          height: 50px;
          padding-left: 50px;
        }

        @include lg {
          height: 40px;
          padding-left: 40px;
        }
      }

      label.placeholder {
        left: 50px;

        @media (min-width: 1920px) {
          left: 60px;
        }

        @include lg {
          left: 40px;
        }
      }
    }

    &:hover {
      overflow: visible;

      .input-search-wrap {
        transform: translateX(0);
        opacity: 1;
        transition: all ease 0.2s;
      }
    }

    &.black:hover {
      .submit-search {
        filter: brightness(1);
      }
    }

    .input-search-wrap {
      .input-search {
        &.focused {
          color: #fff !important;
          background: $black !important;

          ~label.placeholder {
            color: #fff;
          }
        }
      }

      label.placeholder {
        color: #fdfcfb;
        font-size: 16px;
      }
    }
  }
}

.buttonCheckOut {
  background-color: #343333;
  padding: 0 35px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #fdfcfb;
  white-space: nowrap;
  height: 60px;
  margin-top: 15px;

  &:hover {
    color: #fff;
    background: rgba($black, 0.5);
  }

  @media (min-width: 1200px) and (max-width: 1919px) {
    height: 50px;
    padding: 0 15px;
    font-size: 14px;
    width: 290px;
    line-height: 50px;
    margin-top: 10px;
  }

  @include lg {
    font-size: 14px;
    height: 40px;
    width: 280px;
    padding: 0 15px;
    margin-top: 0;
    line-height: 40px;
  }
}

.d-language {
  font-size: 14px;

  button {
    font-size: 1em;
    background: none;
    border: none;
  }
}

.dropdown-toggle::after {
  border: none;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  margin-top: -6px;
  margin-left: 10px;
}

.header-step {
  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    position: relative;
    padding-top: 18px;
    color: rgba(#fff, 0.54);

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      background: rgba(#fff, 0.54);
      border-radius: 50%;
      margin-bottom: 5px;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 16px);
      height: 2px;
      left: 50%;
      top: 22px;
      background: rgba(#fff, 0.54);
      mix-blend-mode: normal;
      opacity: 0.12;
      margin-left: 8px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &.prev-step {
      &::before {
        background: rgba(#fff, 1);
      }

      &::after {
        background: rgba(#fff, 1);
        opacity: 1;
        ;
      }
    }

    &.active {
      color: rgba(#fff, 1);

      &::before {
        background: rgba(#fff, 1);
      }
    }
  }
}

.only-show-1400 {
  @media (max-width: 1399px) {
    display: none !important;
  }
}

.img-lang {
  width: 13px;
  height: auto;
}
