$red: red;
$yellow: #ff9a00;
$black: #656E7A;
$grey: #BCCCC9;
$font: 'Nunito',
sans-serif;
$lato: 'Lato',
sans-serif;
$opensans: 'Open Sans',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$raleway: 'Raleway',
sans-serif;

.white {
  color: #fff !important;
}

.border-white {
  border-color: #fff !important;
}

.blue {
  color: #4F94F5 !important;
}

.black {
  color: #2C2F34 !important;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

@mixin selection {
  &::-moz-selection {
    @content;
  }
  &::selection {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
	}

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(#656E7A, 0.12);
	}

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#656E7A, 0.12);
		// outline: 1px solid slategrey;
		border-radius: 2px;
	}
}
