.slider.slider-horizontal {
  width: 100%;
  margin-bottom: 18px !important;
}

.slider-tick-label {
  width: auto !important;
  position: absolute;
  transform: translateX(-50%);
  font-size: 10px;
}

.slider.slider-horizontal .slider-track {
  background-image: linear-gradient(to bottom, #f5f5f5 0, #f9f9f9 100%);
  background-repeat: repeat-x;
}

/* .slider-tick-label:nth-child(1) {
  left: 0% !important;
}

.slider-tick-label:nth-child(2) {
  left: 14.2857% !important;
}

.slider-tick-label:nth-child(3) {
  left: 42.8571% !important;
}

.slider-tick-label:nth-child(4) {
  left: 100% !important;
} */

/* #slider-range-m-wrap .tooltips .tooltip:nth-child(1) {
  left: 0% !important;
  width: 14.2857% !important;
}

#slider-range-m-wrap .tooltips .tooltip:nth-child(2) {
  left: 14.2857% !important;
  width: 28.5714% !important;
}

#slider-range-m-wrap .tooltips .tooltip:nth-child(3) {
  left: 42.8571% !important;
  width: 57.1429% !important;
}  */

#slider-range-m-wrap .tooltip-main {
  color: #656e7a;
}

#tooltip-price {
  bottom: 90px;
}

embed,
iframe,
object.canvas-object {
  margin-bottom: 0;
  max-width: 100%;
  pointer-events: none;
}

.color-box {
  height: 100%;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 9999;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -25px;
}

.canvas-object {
  transform-origin: center center !important;
}

.hide {
  display: none !important;
}

input[name="shapes"] {
  margin: 0 10px;
}

#tool-layer .col > .preview-canvas-parent {
  width: 260px;
  height: 260px;
  overflow: hidden;
}

#errorMessage {
  text-align: center;
  padding-top: 200px;
}

div#managerSection {
  margin-bottom: 50px;
  padding: 30px;
  background: white;
}

#pattern-list .btn-pattern-item > a {
  padding-top: 20px;
}

.btn-pattern-item img {
  width: 40px;
  height: 34px;
}

#tool-layer .slider.slider-horizontal .slider-handle {
  margin-top: -1px;
}

#tool-layer .slider.slider-vertical .slider-handle,
#tool-layer .slider.slider-horizontal .slider-handle {
  width: 14px;
  height: 14px;
}

#tool-layer .slider.slider-vertical .slider-handle {
  left: -6px;
}

#priceRangeSlider {
  height: 0px;
}

#priceRangeSlider .tooltip .tooltip-inner {
  background: none;
  color: #656e7a;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  border: none;
}

#priceRangeSlider .tooltip .tooltip-arrow {
  display: none;
}

#priceRangeSlider .slider-track {
  margin-top: 6px;
}

#swiper-add-element .element-tile {
  border: solid 3px transparent;
  box-shadow: inset 0 0 0 1px black;
  cursor: pointer;
}

#swiper-add-element .element-tile:not(.nohover):focus,
#swiper-add-element .element-tile:not(.nohover):hover {
  box-shadow: inset 0 0 0 2px black, 0 0 2px 1px #2c2f34cf;
  outline: none;
  cursor: pointer;
}

#swiper-add-element .element-tile.element-selected {
  box-shadow: inset 0 0 0 2px black, 0 0 2px 1px #2c2f34cf;
  outline: none;
}

#collapseMenu {
  z-index: 1049;
}

.footer-design {
  z-index: 1000;
}

.footer-design .text-welcome .blue {
  position: relative;
  line-height: 18px;
}

.footer-design .text-welcome .blue:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #4F94F5;
}

#manageDesignType input[type="radio"] {
  margin-left: 0.5em;
}

div#manageSize input[type="checkbox"] {
  margin-left: 0.4em;
}

.table-cart-responsive thead th,
.table-cart-responsive tr {
  border-bottom: none;
}

.table-cart-responsive thead th {
  font-weight: 800;
  padding: 0;
  color: #656e7a;
  font-size: 20px;
  padding-bottom: 15px;
}

.tbl-cart-info-detail thead th {
  color: #656e7a;
  font-size: 14px;
  padding-bottom: 0;
  line-height: 24px;
}

.table-cart-responsive td {
  padding-top: 0;
  padding-left: 0;
}

#toolVisualizarModalCenter table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

#toolVisualizarModalCenter thead th {
  border-bottom: 2px solid #fff;
  padding-bottom: 0em;
}

#toolVisualizarModalCenter th {
  padding: 0.2em;
  text-align: left;
}

#toolVisualizarModalCenter tr {
  border-bottom: 1px solid #fff;
}

#toolVisualizarModalCenter td {
  padding: 0.1em;
}

#toolVisualizarModalCenter th:first-child,
#toolVisualizarModalCenter td:first-child {
  padding-left: 0;
}

#toolVisualizarModalCenter th:last-child,
#toolVisualizarModalCenter td:last-child {
  padding-right: 0;
}

div#color-box {
  padding-bottom: 10px;
}

#priceRangeControl {
  display: block !important;
  max-width: 60px;
  position: absolute;
  right: -100px;
  top: -7px;
  font-size: 14px;
  color: #4F94F5;
  border: 1px solid #4F94F5;
  font-weight: normal;
  height: 32px;
  padding: 0 19px 0 5px;
  text-align: center;
}

#priceRangeControl::-webkit-outer-spin-button,
#priceRangeControl::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#pricingBlock button.btn-tooltip-info {
  background: url(../new-assets/img/ios-information-active.svg) no-repeat center;
  background-size: 16px auto;
}

#pricingBlock .blue-text,
#pricingBlock .text-wrapper {
  display: inline-block;
  text-align: left;
  width: 55%;
  word-break: break-all;
  vertical-align: top;
  font-weight: bold;
}

#pricingBlock .first-text,
#pricingBlock .total-text {
  width: 40%;
  display: inline-block;
  text-align: right;
  padding-right: 8px;
}

#pricingBlock .text-wrapper .blue-text {
  width: auto;
}

#pricingBlock .text-wrapper {
  position: relative;
  white-space: nowrap;
}

#pricingBlock .text-wrapper sup {
  display: inline-block;
  margin-left: 4px;
}

#pricingBlock.large-style {
  min-width: 272px;
}

#pricingBlock.large-style .text-box {
  margin-right: 0;
}

@media (max-width: 992px) {
  #pricingBlock .text-wrapper .blue-text {
    width: auto;
    max-width: 79%;
  }
}

.slider-range-m-unit {
  position: absolute;
  top: 18px;
  right: -95px;
  margin-top: -18px;
  pointer-events: none;
  display: inline-block;
  color: #4F94F5;
  font-size: 14px;
}

.shippingMain label {
  font-weight: normal !important;
  color: #656e7a !important;
}

.shippingMain .input3 {
  border: none !important;
  border-bottom: 1px solid #bcccc9 !important;
}

input.danger {
  border: none !important;
  border-bottom: red solid 1px !important;
}

.fragment-preview-3d {
  padding: 7px;
  position: absolute;
  border: none;
  background-color: rgba(100, 100, 100, 0.5);
  background: rgba(100, 100, 100, 0.5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: preserve-3d;
  transform: rotateX(45deg);
}

.fragment-content-3d {
  height: 504px;
  width: 974px;
  margin-left: 0;
  border: 0px solid blue;
  -webkit-perspective: 100px;
  perspective: 100px;
  background-color: rgba(100, 100, 100, 0.5);
}

.preview-canvas-parent {
  /* background-color: #fff !important; */
}

#pane-bg-color .lbl-item,
#color-box .lbl-item {
  width: 24px;
  height: 24px;
}

.pattern-list-after:not(.nohover):hover,
.pattern-list-after:active {
  background: #fff;
  cursor: pointer;
}

body.tool-page .dropdown.dropdownPattern.dropdownPatternTool {
  display: none;
}

.visual-design #terazzo-layout {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.visual-design #terazzo-layout.show {
  z-index: 1011;
  opacity: 1;
  visibility: visible;
}

.small-preview-layer-cover {
  width: 40px !important;
  height: 40px !important;
  position: relative;
}

.visual-design #grid-layout {
  background: url(../img/grid.png) left top / 100% !important;
}

.visual-design #grid-layout.show {
  z-index: 20;
}

.btn-pattern-item.active .pattern-action-menu {
  z-index: 21;
  border-radius: 2px;
}

.btn-pattern-item.active .pattern-action-menu:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.btn-pattern-item.active .icon-showmenu {
  background-color: #fff;
  height: 56px;
  background-size: 7px 8px;
  left: -1px;
  z-index: 22;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* OVERIGHT CODE COMMON STYLE */
.reset-max-width {
  max-width: 100%;
}

.tool-left-text span {
  color: #656e7a;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h3.tool-title {
  font-size: 24px;
}

.link,
.button,
input[type="submit"],
input[type="button"] {
  padding: 0 13px;
}

.link.blue-style,
.blue-style.button,
input.blue-style[type="submit"],
input.blue-style[type="button"] {
  border-color: #4F94F5;
  background-color: #4F94F5;
  color: #fff;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.link.border-blue,
.border-blue.button,
input.border-blue[type="submit"],
input.border-blue[type="button"] {
  border-color: #4F94F5;
  color: #4F94F5;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.link.blue-style.disabled,
.disabled.button.blue-style,
input.disabled.blue-style[type="submit"],
input.disabled.blue-style[type="button"] {
  background: #c6d0db;
  border: 1px solid #c6d0db;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.blue-style.link:not(.nohover):hover,
.blue-style.button:hover,
input.blue-style:hover[type="submit"],
input.blue-style:hover[type="button"] {
  background: #f0f2f5;
  border: 1px solid #4F94F5;
  color: #4F94F5 !important;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.blue-style.link:hover *,
.blue-style.button:hover *,
input.blue-style:hover[type="submit"] *,
input.blue-style:hover[type="button"] * {
  color: #4F94F5 !important;
}

.blue-style.link:hover svg path,
.blue-style.button:hover svg path,
input.blue-style:hover[type="submit"] svg path,
input.blue-style:hover[type="button"] svg path {
  fill: #4F94F5 !important;
  transition: color 0.2s;
}

.link.border-blue:hover,
.border-blue.button:hover,
input.border-blue[type="submit"]:hover,
input.border-blue[type="button"]:hover {
  background-color: #4F94F5;
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.link.border-blue svg,
.border-blue.button svg,
input.border-blue[type="submit"] svg,
input.border-blue[type="button"] svg {
  margin-right: 5px;
}

.link.border-blue svg path,
.border-blue.button svg path,
input.border-blue[type="submit"] svg path,
input.border-blue[type="button"] svg path {
  fill: #4F94F5;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.link.border-blue:hover svg path,
.border-blue.button:hover svg path,
input.border-blue[type="submit"]:hover svg path,
input.border-blue[type="button"]:hover svg path {
  fill: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.link.disabled,
.disabled.button,
input.disabled[type="submit"],
input.disabled[type="button"] {
  background-color: #a1aab6;
  border-color: #a1aab6;
  color: #fff;
}

.tiles-block h6 {
  font-size: 14px;
  line-height: 18px;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  background: inherit;
}

/* CHECK PIXEL VIEW TYPE PAGE */

.header-block {
  margin-bottom: 35px;
}

.title-box {
  margin: 32px 0 25px;
  text-align: center;
}

.title-box h3.tool-title {
  margin-bottom: 13px;
}

.title-box .paragraph {
  margin: 0 auto;
  max-width: 795px;
  line-height: 18px;
}

.checklist-group .first-list {
  padding-left: 39px;
}

ul.hiw-list li:last-child {
  margin-bottom: 0;
}

.checklist-group ul.hiw-list li {
  line-height: 15px;
  text-transform: uppercase;
}

.checklist-group .btn-group {
  margin: 10px 0 0 27px;
}

.select-shape-block {
  margin-bottom: 50px;
}

.select-shape-block .tool-title {
  margin-bottom: 19px;
}

.shape-list .row {
  margin-left: -12px;
  margin-right: -12px;
}

.shape-list .col-auto {
  padding-left: 12px;
  padding-right: 12px;
}

.shape-block {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 111px;
}

.shape-block h6 {
  padding: 14px 0 0;
  margin: 0;
  max-width: 80px;
}

#swiper-add-element .swiper-button-next svg path,
#swiper-add-element .swiper-container-rtl .swiper-button-prev svg path {
  fill: #fff;
}

@media (max-width: 991px) {
  .back_desktop {
    display: block;
  }

  .title-box h3.tool-title,
  .select-shape-block h3.tool-title {
    padding-top: 20px;
  }

  .header-block {
    margin-bottom: 40px;
  }

  .shape-list .col-auto {
    margin-bottom: 12px;
  }

  .checklist-group ul.hiw-list li {
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .back_desktop {
    display: none;
  }

  .checklist-group .first-list {
    padding-left: 0;
  }

  .checklist-group .first-list {
    margin-bottom: 30px;
  }
}

/* FOOTER */
.footer-design-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-design-wrap .text-welcome {
  padding: 23px 0 23px 23px;
  text-transform: uppercase;
  width: 510px;
}

@media (max-width: 767px) {
  .footer-design-wrap .text-welcome {
    display: block;
    height: auto;
    padding: 15px;
    font-size: 12px;
  }
}

.footer-design-wrap .btn-next-step {
  min-width: 226px;
}

.footer-design-wrap .btn-group-edit-tile-inner {
  flex-direction: column;
  height: 100%;
}

.footer-design-wrap .btn-group-edit-tile .btn-next-step-checkout {
  height: 50% !important;
  text-transform: none;
  font-size: 12px;
  font-weight: 300;
}

.footer-design-wrap .btn-group-edit-tile .btn-next-step-checkout img,
.footer-design-wrap .btn-group-edit-tile .btn-next-step-checkout svg {
  width: 16px;
}

.footer-design-wrap .btn-group-edit-tile .grey-style {
  background-color: #c6d0db;
  color: #fff;
  border: 1px solid #c6d0db;
}

.footer-design .f-block-height {
  min-height: 64px;
  height: auto;
}

@media (max-width: 767px) {
  .footer-design .f-block-height {
    min-height: 50px;
  }
}

#pricingBlock {
  min-width: 201px;
  color: #656e7a;
  line-height: 16px;
  padding: 5px !important;
}

#pricingBlock .total-text {
  font-weight: bold;
  color: #656e7a;
}

#pricingBlock .text-label {
  font-size: 12px;
}

.blue-text {
  color: #4F94F5;
}

.select-dimensions {
  position: relative;
  height: 20px;
}

.dimensions-block select {
  position: relative;
  height: 20px;
  color: #4F94F5;
  background: none;
}

.select-dimensions:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #4F94F5;
  border-right: 1px solid #4F94F5;
  height: 5px;
  margin-top: -4px;
  right: 2px;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.dimensions-block label {
  font-weight: normal;
}

.slider-range-wrapper {
  position: relative;
  left: -5%;
  max-width: 36%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 110px !important;
}

#priceRangeSlider > div:nth-child(3) {
  left: 8% !important;
}

#priceRangeSlider > div:nth-child(4) {
  left: 30% !important;
}

#priceRangeSlider > div:nth-child(5) {
  left: 70% !important;
}

.footer-design-wrap .btn-next-step-checkout {
  position: relative;
  flex-direction: column;
  font-weight: 900;
  min-width: 205px;
  padding-left: 70px !important;
  align-items: flex-start;
}

.footer-design-wrap .btn-next-step-checkout img,
.footer-design-wrap .btn-next-step-checkout svg {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.footer-design-wrap .btn-next-step-checkout .white-text {
  color: #fff;
}

.footer-design-wrap .btn-next-step-checkout .total-text {
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
}

.footer-design-wrap .btn-next-step-checkout .total-text strong {
  font-weight: normal;
}

.footer-design-wrap .slider.slider-horizontal .slider-tick {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  background: #ececec !important;
  border: 2px solid #656e7a;
}

.footer-design-wrap
  .slider.slider-horizontal
  .slider-tick-container
  > div:first-child,
.footer-design-wrap
  .slider.slider-horizontal
  .slider-tick-container
  > div:last-child {
  background: #ececec !important;
  border: 2px solid #656e7a;
}

.footer-design-wrap .slider.slider-horizontal .in-selection {
  border: 2px solid #4F94F5;
  background: #fff !important;
}

.footer-design-wrap .slider.slider-horizontal .slider-track {
  background: #656e7a;
}

.footer-design-wrap .slider.slider-horizontal .in-selection + .round {
  border: 2px solid #4F94F5;
  background: #fff !important;
}

.footer-design-wrap .slider.slider-horizontal .slider-handle {
  border: 2px solid #4F94F5;
  box-shadow: none;
  transform: none;
  margin-left: -7px;
  margin-top: 1px;
  width: 14px;
  height: 14px;
}

.slider.slider-horizontal .slider-selection.tick-slider-selection {
  background: #4F94F5;
  box-shadow: none;
}

.footer-design-wrap .select-block select {
  height: 20px;
  font-weight: 600;
}

.footer-design-wrap .p-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-design label {
  color: #a1aab6;
}

.footer-design-wrap .label-block {
  text-align: center;
}

.footer-design-wrap .label-block .text {
  color: #656e7a;
  font-weight: bold;
}

.footer-design-wrap .text-shipping {
  letter-spacing: 0.7px;
  color: #b0bfbc;
}

.footer-design-wrap #checkoutBtn {
  font-weight: bold;
}

.footer-design-wrap #checkoutBtn .total-text {
  opacity: 0.7;
}

.checkbox-pattern ~ .checkbox-pattern-content {
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.6);
}

.checkbox-pattern:checked ~ .checkbox-pattern-content {
  background: #4F94F5;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.hide-arrow .nice-select:after {
  display: none;
}

.hide-arrow:before {
  display: none;
}

@media (min-width: 768px) {
  #slider-range-m-wrap {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .footer-design-wrap .btn-next-step {
    min-width: 180px;
    height: 100% !important;
    min-height: 40px;
  }

  .footer-design-wrap {
    flex-direction: column;
  }

  .footer-design-wrap .btn-next-step {
    width: 100%;
  }

  .dimensions-block {
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer-design-wrap .text-shipping {
    text-align: center !important;
  }

  .footer-design-wrap .p-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-design-wrap .row-custom-mb {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* COLOR TOOL */

.visual-design {
  height: 418px;
  border: 1px solid #dbdcde !important;
  width: 480px;
  left: 12px;
}

.tabs-tools .nav-link:hover {
  background-color: #d9d9d9 !important;
  border-color: #c6d0db !important;
}
.tabs-tools .nav-link.active {
  background-color: #a1aab5 !important;
  color: #fff !important;
}

.tab-color-current {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
}

.tabs-tools .nav-link {
  padding-left: 13px;
  padding-right: 9px;
}

.tabs-tools .nav-link.active {
  font-weight: 600;
}

#pane-bg-color .lbl-item,
#color-box .lbl-item {
  width: 22px;
  height: 24px;
}

.color-box .row {
  margin-left: -3px;
  margin-right: -3px;
}

.color-box .row > div {
  flex-grow: inherit;
  padding: 0 3px;
}

#tool-section-align {
  /* padding-top: 56px; */
  padding-top: calc(50vh / 12);
}

#tool-section-align .tool-title {
  margin-bottom: 18px;
}

.tool-bg-layer .tool-bg-header {
  margin-bottom: 10px;
}

#recent-bg-color-list {
  margin-bottom: 14px;
}

.color-box {
  padding: 14px 20px !important;
}

#control-layer {
  background: none !important;
}

.btn-color-picker {
  width: 22px !important;
  height: 24px !important;
  padding: 0 !important;
}

#control-layer {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #dbdcde;
}

#control-layer:before,
#control-layer:after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 1px;
  background: #dbdcde;
  z-index: 2;
}

#control-layer:before {
  left: 0;
}

#control-layer:after {
  right: 0;
}

.pattern-list-after::before {
  z-index: 1;
}

.pattern-list-after {
  /* bottom: 1px; */
  left: 0;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  background-color: #fff;
}

.pattern-list-after .btn-pattern-item,
.pattern-list-after .btn-pattern-item.active {
  /* border-top: 0; */
  border-bottom: 0;
}

.pattern-list-before {
  background: #fff;
  width: 100%;
  left: 0;
  top: 33px;
}

.pattern-list-before:before {
  border-bottom: 0;
  z-index: 1;
}

.pattern-list-before button:hover,
.pattern-list-before button:focus {
  background: inherit !important;
}

.choose-pattern-dropdown {
  position: relative;
}

.choose-pattern-dropdown .icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.choose-pattern-dropdown .nice-select {
  position: relative;
  z-index: 1;
  background: transparent;
  border: 0;
  width: 115px;
  height: 35px;
  padding-right: 15px;
  padding-left: 30px;
}

.choose-pattern-dropdown .nice-select.open .list {
  display: none;
}

.choose-pattern-dropdown .label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.choose-pattern-dropdown .nice-select:after {
  right: 5px;
}

.choose-pattern-dropdown .nice-select:after {
  width: 7px;
  height: 7px;
}

.choose-pattern-dropdown .banner-select-icon {
  height: 24px;
  width: 21px;
}

#control-layer {
  background-color: #fff !important;
  margin-top: -4px;
}

.tool-layer .tabs-tools .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.tool-layer .tab-color-current {
  width: 16px;
  height: 16px;
}

.nice-select .list {
  width: 100%;
}

.tool-header {
  margin-bottom: 8px;
}

.pattern-box {
  height: 448px;
  /* margin-top: 4px; */
  margin-top: 24px;
}

.choose-pattern-dropdown-popup {
  position: relative;
}

.choose-pattern-dropdown-popup .label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.banner-select-icon {
  width: 21px;
  height: 20px;
}

.select-group .banner-select-icon {
  margin-right: 5px;
}

#toolVisualizarModalCenter .modal-content {
  border: 0;
}

#toolVisualizarModalCenter .nice-select {
  min-width: 115px;
  background-color: transparent;
}

#toolVisualizarModalCenter .nice-select:hover:after {
  border-bottom-color: #4F94F5;
  border-right-color: #4F94F5;
}

#toolVisualizarModalCenter .icon-14px {
  width: 14px;
}

#toolVisualizarModalCenter .modal-header,
#toolVisualizarModalCenter .modal-content {
  border-radius: 0;
}

#toolVisualizarModalCenter .footer-design-wrap {
  border-top: 0 !important;
  border-bottom: 0;
}

#toolVisualizarModalCenter .select-group label {
  font-weight: 300;
  font-size: 12px;
}

#visualizerShareBtn {
  color: #4F94F5;
}

#visualizerShareBtn:hover {
  background: #fff;
  color: #4F94F5;
}

.allow-scroll-hoz {
  padding-top: 15px;
}

.header-step {
  max-width: 60%;
  min-width: 688px;
  margin: 0 auto;
}

.header-step li a,
.header-step li {
  font-weight: normal;
}

.header-step li.active a,
.header-step li.active {
  color: #4F94F5;
  font-weight: bold;
}

.header-step li.active::before {
  background: #4F94F5;
}

.choose-shape ~ .design-block .img-design img {
  box-shadow: none;
}

.checkbox-show-in-stock button.btn-tooltip-info {
  margin-top: -14px;
  margin-left: 5px !important;
}

#tool-layer .col > .preview-canvas-parent {
  width: 200px;
  height: 200px;
}

#tool-layer .canvas-container {
  width: 200px !important;
  height: 200px !important;
}

#tool-layer canvas {
  width: 198px !important;
  height: 198px !important;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-design-content {
  background: #fff;
}

.nav-tabs {
  border-bottom: 1px solid #dfdfdf;
}

.btn-move-step i {
  font-weight: bold;
  color: #4F94F5;
}

.col-slider-ver .input-move-step,
#tool-layer .input-move-step {
  border: 1px solid #4F94F5 !important;
  border-radius: 4px;
  color: #4F94F5;
  font-weight: 600;
  width: auto;
  max-width: 50px;
  padding: 0 2px;
}

#tool-layer .slider.slider-vertical .slider-track,
#tool-layer .slider.slider-horizontal .slider-track {
  border: 1px solid #656e7a;
  border-radius: 0;
}

#tool-layer .slider.slider-vertical .slider-handle,
#tool-layer .slider.slider-horizontal .slider-handle {
  background: #4F94F5;
  border: 1px solid #4F94F5;
  box-shadow: none;
}

#tool-layer .slider.slider-vertical .slider-handle:hover,
#tool-layer .slider.slider-horizontal .slider-handle:hover {
  background: #656e7a;
}

#tool-layer #move-left-right-value {
  width: 50px;
  /* background: #F0F2F5; */
}

#tooltip-color-box {
  z-index: 3;
}

@media (max-width: 1024px) {
  .header-step {
    max-width: 90%;
  }

  .slider-range-wrapper {
    padding-left: 20px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 992px) {
  .slider-range-wrapper {
    width: 100%;
    padding-left: 50px !important;
    padding-right: 50px !important;
    max-width: 63%;
  }

  .header .btn-menu {
    margin-top: 15px;
  }
}

@media (max-width: 772px) {
  .allow-scroll-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #pricingBlock,
  .dimensions-block {
    height: auto !important;
    min-height: 63px !important;
  }

  #slider-range-m-wrap {
    padding-right: 0;
  }

  .slider-range-wrapper {
    height: 90px !important;
    padding-bottom: 30px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    left: 0;
    margin: 0;
    max-width: 98%;
  }

  .slider-range-wrapper #priceRangeControl {
    bottom: -47px;
    top: auto !important;
    right: 0;
    font-size: 12px;
  }

  .slider-range-wrapper .slider-range-m-unit {
    bottom: -39px;
    top: auto !important;
    font-size: 12px;
    right: 5px;
  }
}

#fixedTool .tbl-cart-info-detail {
  margin-bottom: 0;
}

#fixedTool .tbl-cart-info-detail th,
#fixedTool .tbl-cart-info-detail tr {
  border: 0;
  padding: 0;
}

#fixedTool .tbl-cart-info-detail td .black,
.tbl-cart-info-detail td {
  color: rgba(0, 0, 0, 0.6) !important;
}

#fixedTool .tbl-cart-info-detail td {
  padding-bottom: 22px !important;
  padding-left: 0;
  vertical-align: top;
}

#fixedTool .tbl-cart-info-detail td .text-opacity {
  color: #b0bfbc;
}

#fixedTool .tbl-cart-info-detail td:first-child {
  width: 54%;
}

.lbl-product-infomation {
  padding: 12px 18px;
  font-size: 12px;
  font-weight: bold;
}

.tbl-cart-info-detail-wrapper {
  padding: 18px;
}

.tbl-cart-info-detail label {
  font-weight: normal;
}

/* CART */

.cart-checkout-wrapper .title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #656e7a;
}

.img-cart-tile {
  width: 86px;
  height: 86px;
  min-width: 86px;
}

.table-cart-responsive th:first-child,
.table-cart-responsive td:first-child {
  vertical-align: top;
  padding-left: 0;
}

.table-cart-responsive .cart-item {
  padding: 25px 0 !important;
}

.table-cart-responsive .cart-item > table {
  margin: 0;
}

#footer-design-wrap .table-cart-responsive td {
  padding: 0;
  vertical-align: top;
}

.cart-checkout-wrapper .tbl-cart-item th {
  font-size: 20px;
  font-weight: 800;
  color: #656e7a;
  padding: 0 0 18px;
}

.cart-checkout-wrapper .tbl-cart-info-detail th {
  font-size: 14px;
  color: #656e7a;
  font-weight: bold;
  padding: 0;
  width: 16%;
}

.cart-checkout-wrapper .tbl-cart-info-detail td:first-child {
  width: 16%;
}

.cart-checkout-wrapper .tbl-cart-info-detail th:nth-child(3) {
  width: 39%;
}

.cart-checkout-wrapper .tbl-cart-info-detail td {
  letter-spacing: 0;
  font-size: 14px;
  color: #656e7a;
  font-weight: normal;
  padding-bottom: 0 !important;
}

#footer-design-wrap .tbl-cart-info-detail td .black {
  color: #4F94F5 !important;
}

#footer-design-wrap .tbl-cart-info-detail td label {
  font-weight: normal;
}

#footer-design-wrap .tbl-cart-info-detail .nice-select:after {
  border-bottom: 1px solid #4F94F5;
  border-right: 1px solid #4F94F5;
  width: 5px;
  height: 5px;
}

.tbl-cart-info-detail button.btn-tooltip-info {
  background: url(../new-assets/img/ios-information-active.svg) no-repeat center;
  background-size: 16px auto;
}

.tbl-cart-info-detail .btn-footer {
  padding-top: 18px !important;
}

.checkbox ~ .checkbox-icon {
  border: 1px solid #4F94F5;
}

.checkbox ~ .checkbox-icon::after {
  background-color: #4F94F5;
}

.tbl-cart-item .blue-style {
  font-size: 12px;
  height: 24px;
  min-width: 84px;
  margin-right: 34px !important;
}

.tbl-cart-item .blue-style .icon-edit {
  background: none;
}

.tbl-cart-item .blue-style svg {
  width: 8px;
}

.tbl-cart-item .blue-style svg path {
  stroke: #fff !important;
}
.tbl-cart-item .blue-style:hover svg path {
  stroke: #4F94F5 !important;
}

.tbl-cart-item .btn-remove {
  font-size: 12px;
  color: #4F94F5;
}

@media (max-width: 992px) {
  .cart-checkout-wrapper .title {
    margin-top: 60px;
  }

  .table-cart-responsive .container-max {
    padding-left: 0 !important;
  }

  .tbl-cart-item .img-cart-tile {
    width: 86px;
    height: 86px;
    min-width: 86px;
  }
}

.shippingMain input,
.shippingMain textarea,
.purchaseInfoForm input,
.purchaseInfoForm textarea {
  border-radius: 0 !important;
  background: rgba(198, 208, 219, 0.3) !important;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  color: #656e7a !important;
  font-weight: 600 !important;
  margin-bottom: 1rem;
  height: 39px;
}

.shippingMain input.has-value,
.shippingMain textarea.has-value,
.purchaseInfoForm input.has-value,
.purchaseInfoForm textarea.has-value {
  background-color: #e4e4e4 !important;
}

.shippingMain input.danger,
.shippingMain textarea.danger,
.purchaseInfoForm input.danger,
.purchaseInfoForm textarea.danger {
  border-bottom: red solid 1px !important;
}

.shippingMain input::-webkit-input-placeholder,
.purchaseInfoForm input::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.38) !important;
  font-weight: 600 !important;
}

.shippingMain input:-ms-input-placeholder,
.purchaseInfoForm input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.38);
  font-weight: 600 !important;
}

.shippingMain input::placeholder,
.purchaseInfoForm input::placeholder {
  color: rgba(0, 0, 0, 0.38);
  font-weight: 600 !important;
}

.shippingMain label {
  font-weight: 600 !important;
}

.shippingMain select {
  font-weight: 600 !important;
}

#billingCheckboxDiv label {
  color: #4F94F5 !important;
  font-weight: 300 !important;
}

#billingCheckboxDiv .checkbox ~ .checkbox-icon {
  margin-right: 4px;
}

.shippingMain .title {
  font-size: 22px;
  line-height: 36px;
  color: #656e7a;
}

.payment-box {
  width: 100%;
  padding-left: 11%;
}

.payment-box label {
  font-size: 14px;
  color: #656e7a;
  font-weight: 300;
  transition: all 0.2s;
  margin-bottom: 22px !important;
}

.payment-box label:hover {
  font-weight: 700;
  transition: all 0.2s;
}

.payment-box label img {
  opacity: 0.4;
  transition: all 0.2s;
  max-width: 50px;
}

.payment-box label img + img {
  margin-left: 15px;
}

.payment-box label:hover img {
  opacity: 1;
  transition: all 0.2s;
}

.radio ~ .radio-icon {
  margin-right: 5px;
}

.payment-box .radio:checked ~ span {
  color: #4F94F5;
  font-weight: normal;
}

.radio ~ .radio-icon::after {
  background: #4F94F5;
}

.payment-box .radio:checked ~ i {
  border: 1px solid #4F94F5;
}

.purchaseInfoForm {
  border-radius: 8px;
}

.purchaseInfoForm label {
  font-weight: 700;
}

.payment-method-heading .title {
  margin: 40px 0 36px;
  font-size: 22px;
  line-height: 36px;
  color: #656e7a;
  font-weight: normal;
}

.purchaseInfoForm .d-table-cell {
  padding-top: 6px;
  vertical-align: top;
  min-width: 120px;
}

.purchaseInfoForm .d-table-cell:last-child {
  padding-top: 0;
  vertical-align: top;
}

.link-hover {
  color: #fff;
  background: #656e7a;
}

@media (max-width: 767px) {
  .payment-box {
    padding-left: 0;
  }

  .payment-method-heading .title {
    margin-top: 60px;
  }
}

input:checked + .color-item .icon-check,
.colorChecked + .color-item .icon-check {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../new-assets/img/filter-checked.svg) no-repeat center;
}

input:checked + .color-item::after,
.colorUnchecked + .color-item .icon-check {
  display: none;
}

.choose-shape ~ .design-block:not(.nohover):hover::after {
  background: none;
  cursor: pointer;
}

.close {
  color: #4F94F5;
  opacity: 1;
}

.tool-left-text {
  margin-bottom: 15px;
}

.cart-checkout-wrapper .table-cart-responsive .table-cart {
  min-width: auto;
}

.footer-simple .row-custom-mb {
  padding-right: 18px;
}

@media (max-width: 992px) {
  /* padding-right: 0; */
}

.thank-you-page img {
  max-height: 50vh;
  object-fit: cover;
}

.thank-you-page .title {
  font-size: 20px;
  line-height: 27px;
}

#terazzoBlock.hide {
  display: block !important;
  visibility: hidden;
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .title-box {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .header-block {
    margin-bottom: 20px;
  }

  #tool-section-align h3.tool-title {
    padding-top: 17px;
    margin-bottom: 16px;
    font-size: 20px;
    display: none;
  }

  #tool-section-align .btn-visualiser {
    margin-top: 0 !important;
  }

  .tool-left-text {
    margin-bottom: 10px;
    margin-top: 6px;
  }
  #tool-section-align {
    padding-top: calc(10vh / 12) !important;
  }
}
#style-selected-contaienr {
  /*margin-top:60px;*/
}
@media screen and (orientation: landscape)  and (max-width: 1366px) {
  .title-box {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-block {
    margin-bottom: 30px;
  }

  #tool-section-align {
    padding-top: calc(10vh / 12);

  }

  #tool-section-align h3.tool-title {
    padding-top: 17px;
    margin-bottom: 14px;
    font-size: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  #tool-section-align .btn-visualiser {
    margin-top: 0 !important;
  }

  .tool-left-text {
    margin-bottom: 10px;
    margin-top: 6px;
  }

  #style-selected-contaienr {
   /* margin-top:70px;*/
  }
}

@media screen and (orientation: landscape) and (min-height: 700px) and (max-width: 1366px) {
  #tool-section-align .btn-visualiser {
    margin-top: 15px !important;
  }
}

/* .btn-pattern-item .canvas-container:before {
  content: '';
  position: absolute;
  border: 5px solid #ECECEC;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.btn-pattern-item:hover .canvas-container:before,
.btn-pattern-item.active .canvas-container:before {
  border: 5px solid #fff;
} */

input[type="number"] {
  -moz-appearance: textfield;
}

#priceRangeControl[type="number"]::-webkit-inner-spin-button,
#priceRangeControl[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.choose-shape:checked ~ .tiles-block .name-shape,
.choose-shape ~ .tiles-block:not(.nohover):hover .name-shape {
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .choose-shape ~ .tiles-block:hover .img-shape .img-hover {
    display: none;
  }

  .choose-shape ~ .tiles-block:hover .img-shape .img-default {
    display: block;
  }

  .choose-shape:checked ~ .tiles-block .img-shape .img-default {
    display: none;
  }
}

.mobile .choose-shape ~ .tiles-block:hover .img-shape .img-hover,
.tablet .choose-shape ~ .tiles-block:hover .img-shape .img-hover {
  display: none;
}

.choose-shape ~ .tiles-block .img-shape .img-hover {
  display: none;
}

.choose-shape ~ .tiles-block:hover .img-shape .img-hover {
  display: block;
}

.choose-shape ~ .tiles-block:hover .img-shape .img-default {
  display: none;
}

.choose-shape:checked ~ .tiles-block .img-shape .img-hover {
  display: none;
}

.choose-shape ~ .tiles-block.shape-block {
  opacity: 1;
}

.choose-shape ~ .tiles-block:hover.shape-block + div {
  opacity: 1;
}

.choose-shape ~ .tiles-block {
  border-top-color: #e8e8e8 !important;
  border-left-color: #e8e8e8 !important;
  border-right-color: #e8e8e8 !important;
}

.choose-shape:checked ~ .tiles-block {
  border-top-color: #a1aab6 !important;
  border-left-color: #a1aab6 !important;
  border-right-color: #a1aab6 !important;
}

.choose-shape:checked ~ .tiles-block,
.choose-shape ~ .tiles-block:not(.nohover):hover {
  background: #c4c4c4;
}

.link-tool-back {
  z-index: 1;
}

@media (max-width: 767px) {
  .footer-design-wrap .btn-next-step {
    height: 40px !important;
  }
  #toolAddElementModalCenter .footer-design-wrap .btn-next-step {
    height: 100% !important;
  }
}

.btn-pattern-item {
  padding: 7px 17px;
}

.btn-pattern-item img {
  width: 40px;
  height: 40px;
}
#btnAddMoreLayer {
  cursor: pointer;
}

.btn-pattern-item .pattern-action-menu button {
  position: relative;
  z-index: 23;
}

.btn-add-pattern .icon-add-plus {
  display: none;
}

@media (min-width: 1025px) {
  .step-header-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header {
    /*position: fixed;*/
  }
  .header-block {
    margin-top: 60px;
  }

}
@media (max-width: 1025px) {
  .step-header-block {
    padding-left: 0;
    padding-right:80px;
  }
  .title-box {
    margin: 2px 0 15px;
    text-align: center;
  }
  .title-box h3.tool-title {
    margin-bottom: 0px;
  }
  .header-block {
    margin-bottom: 20px;
  }
  .shape-thumb {
    max-width: 75px;
  }
  .title-box {
    margin: 0px;
  }
  .shape-col {
    padding:10px;
  }
  .hide-mobile {
    display: none;
  }
}

.btn-pattern-item a .canvas-container {
  width: 40px !important;
  height: 40px !important;
}

@media screen and (min-width: 776px) and (max-width: 988px) {
  .allow-scroll-desktop {
    display: none !important;
  }
}

body.tile-dashboard div#root main#main {
  margin-top: 30px;
}

#main {
  margin-top: 0 !important;
}

div#customizedTool {
  padding-right: 10px;
}

#btnCancelAddMoreLayer {
  margin-right: -30px !important;
}

div#toolVisualizarModalCenter.modal.fade.login-modal.in.show {
  padding-left: 0px !important;
}

div#toolAddElementModalCenter.modal.fade.login-modal.show {
  padding-right: 0px !important;
}

@media (max-width: 991px) {
  /* div#toolVisualizarModalCenter.modal.fade.login-modal.in.show {
     padding-left: 15px !important;
   } */

  div#toolAddElementModalCenter.modal.fade.login-modal.show {
    padding-right: 15px !important;
  }
}


@media (max-height: 1000px),
  /* (height: 1600px) and (width: 2560px),
  */ (max-width: 1024px) {

  #toolTitle {
    /*display: none;*/
  }
}
@media (max-width: 1024px) {
  .shape-col {
    padding:6px;
  }
  .shape-thumb {
    width: 75px;
  }
  .title-box {
    margin: 0px;
    text-align: center;
  }
}

.modal-body.p-0 .text-center.px-3.px-md-5.mt-3 {
  overflow: hidden;
}


.shape-container {
  max-width: 1400px;
}

@media (max-width: 1400px) {

  .shape-col {
    padding:5px;
  }
}

@media (max-width: 1100px) {

  .shape-col {
    padding:5px;
  }
  .shape-thumb {
    width: 80px;
  }
}

.add-element {
  font-weight: 800;
  font-size: 10px;
  margin-left: 6px;
  margin-bottom: 4px;

}

.background-element {
  font-weight: 800;
  font-size: 10px;
  margin-left: -8px;
  margin-top:3px;
}

.prev-step a {

  color: #fff;
}

.grey-style-next {
  background-color: #656E7A;
  color:#fff;
}
.grey-style-next:hover {
  background-color: #4F94F5;
}

.next-step-blue:hover {
  background-color: #656E7A !important;
  border-color: #656E7A !important;
  color:#fff !important;
}

.next-step-blue {
  background-color: #4F94F5 !important;
  border-color: #656E7A !important;
  color:#fff !important;
}